body {
    background: #140f1d;
    justify-content: center;
    align-items: center;
}
#center {
    font-family: "Comic Sans MS", serif;
    color: gold;
    font-size: 30px;
    text-align: center
}