*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#center {
    font-family: Comic Sans MS, serif;
    color: gold;
    font-size: 30px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #140f1d;
}